In [1]:
# loading libraries

import glob
import os

import folium
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns
from pywaffle import Waffle

In [2]:
# Display all df columns
pd.set_option("display.max_columns", None)

# Set up with a higher resolution screen
%config InlineBackend.figure_format = 'retina'

# Function for cluster caracteristics by cluster

In [ ]:
files_list = [x for x in os.listdir("./assets/csv/") if x.startswith("flights_")]
files_list.sort()

In [ ]:
def clusters_flights(file):
    df = pd.read_csv(f"./assets/csv/df_all_years/df_all_years.csv", sep=",")
    df = df[df.cluster_origin == 1]
    drop_zero = [0]
    df = df[df.seats_available.isin(drop_zero) == False]
    df = df.groupby(["cluster_origin"], as_index=False).agg(
        origins=("icao_origin", lambda x: x.nunique()),
        destinations=("icao_dest", lambda x: x.nunique()),
        carriers=("icao_carrier", lambda x: x.nunique()),
        routes=("route_icao", lambda x: x.nunique()),
        total_flights=("icao_carrier", 'count'),
        aircraft_types=("icao_aircraft_type", lambda x: x.nunique()),
        min_aircraft_capacity=("seats_available", 'min'),
        mean_aircraft_capacity=("seats_available", 'mean'),
        max_aircraft_capacity=("seats_available", 'max'),
        total_pax=("seats_available", 'sum')
        ).round(2)
    return df

In [ ]:
df_list = []

for file in files_list:
    print(file)
    df_list.append(clusters_flights(file))

caract_cluster_1 = pd.concat(df_list)

In [ ]:
caract_cluster_1.to_csv("./assets/csv/cluster/flights_cluster_1.csv", sep=',')

In [ ]:
caract_cluster_1

# Function for number of airports by state and year

In [12]:
files_list = [x for x in os.listdir("./assets/csv/") if x.startswith("flights_")]
files_list.sort()

In [13]:
def airports_state_year(file):
    file_year = file[8:12]
    df = pd.read_csv(f"./assets/csv/{file}", sep=",")
    df = df.groupby('dep_state').agg(
    airports=('icao_origin', lambda x: x.nunique())
).reset_index()
    df['year'] = file_year
    return df

In [14]:
df_list = []

for file in files_list:
    print(file)
    df_list.append(airports_state_year(file))

airports_state_year = pd.concat(df_list)

flights_2002.csv
flights_2003.csv
flights_2004.csv
flights_2005.csv
flights_2006.csv
flights_2007.csv
flights_2008.csv
flights_2009.csv
flights_2010.csv
flights_2011.csv
flights_2012.csv
flights_2013.csv
flights_2014.csv
flights_2015.csv
flights_2016.csv
flights_2017.csv
flights_2018.csv
flights_2019.csv
flights_2020.csv
flights_2021.csv

airports_state_year.to_csv("./assets/csv/functions/airports_state_year.csv", sep=',')

In [15]:
airports_state_year

   dep_state  airports  year
0         AC         2  2002
1         AL         1  2002
2         AM         3  2002
3         AP         1  2002
4         BA         6  2002
..       ...       ...   ...
22        RS        16  2021
23        SC         5  2021
24        SE         1  2021
25        SP        13  2021
26        TO         2  2021

[540 rows x 3 columns]

# Function for number of airports, routes and passengers by year

## 1 – FROM regional airports

In [3]:
files_list = [x for x in os.listdir("./assets/csv/") if x.startswith("flights_")]
files_list.sort()

In [4]:
def from_reg(file):
    
    df = pd.read_csv(f"./assets/csv/{file}", sep=",")
    
    selected_columns = ['icao_origin', 'dep_city', 'dep_state', 'route_icao', 'seats_sold', 'seats_free', 'sched_year']
    df['seats_total'] = df['seats_sold'] + df['seats_free']
    df.drop(columns=['seats_sold', 'seats_free'], inplace=True)
    
    airports_capitals = [
        'SBAR', 'SBBE', 'SBBR', 'SBBV', 'SBCF', 'SBCG',
        'SBCT', 'SBEG', 'SBFL', 'SBFZ', 'SBGL', 'SBGO',
        'SBGR', 'SBJC', 'SBKP', 'SBMQ', 'SBPA', 'SBPJ',
        'SBPM', 'SBPV', 'SBRB', 'SBRF', 'SBRJ', 'SBSG',
        'SBSL', 'SBSP', 'SBSV', 'SBTE', 'SBVT', 'SBJP',
        'SBMO', 'SBCY']
    
    df_from_reg = df[(df["icao_origin"].isin(airports_capitals) == False)]
    df_from_reg = df_from_reg.groupby(['sched_year']).agg(
        nr_airports=('icao_origin', lambda x: x.nunique()),
        route_icao=('route_icao', lambda x: x.nunique()),
        seats_total=('seats_total', 'sum'),
).reset_index()
    
    return df_from_reg

In [5]:
df_list = []

for file in files_list:
    print(file)
    df_list.append(from_reg(file))

df_from_reg = pd.concat(df_list)

flights_2002.csv
flights_2003.csv
flights_2004.csv
flights_2005.csv
flights_2006.csv
flights_2007.csv
flights_2008.csv
flights_2009.csv
flights_2010.csv
flights_2011.csv
flights_2012.csv
flights_2013.csv
flights_2014.csv
flights_2015.csv
flights_2016.csv
flights_2017.csv
flights_2018.csv
flights_2019.csv
flights_2020.csv
flights_2021.csv

In [7]:
df_from_reg.to_csv("./assets/csv/functions/df_from_reg.csv", sep=',')

In [6]:
df_from_reg

   sched_year  nr_airports  route_icao  seats_total
0        2002           39         115     577808.0
0        2003           38         130    1858335.0
0        2004           30         110    2197952.0
0        2005           23          74    2010705.0
0        2006           31          92    1556103.0
0        2007           35         104    1421666.0
0        2008           26          75    1899226.0
0        2009           24          77    2747301.0
0        2010           75         240    3505560.0
0        2011           91         312    5093080.0
0        2012           59         165    4829528.0
0        2013          101         316    6716489.0
0        2014           89         287    8298483.0
0        2015           87         308    8353310.0
0        2016           83         258    6758717.0
0        2017           81         252    6821064.0
0        2018          101         366    8466441.0
0        2019          127         375    9049036.0
0        2020          140         386    3884986.0
0        2021          108         294    3203856.0

In [12]:
def airports_non_reg(file):
    
    df = pd.read_csv(f"./assets/csv/{file}", sep=",")
    
    selected_columns = ['icao_origin', 'dep_city', 'dep_state', 'route_icao', 'seats_sold', 'seats_free', 'sched_year']
    df['seats_total'] = df['seats_sold'] + df['seats_free']
    df.drop(columns=['seats_sold', 'seats_free'], inplace=True)
    
    airports_capitals = [
        'SBAR', 'SBBE', 'SBBR', 'SBBV', 'SBCF', 'SBCG',
        'SBCT', 'SBEG', 'SBFL', 'SBFZ', 'SBGL', 'SBGO',
        'SBGR', 'SBJC', 'SBKP', 'SBMQ', 'SBPA', 'SBPJ',
        'SBPM', 'SBPV', 'SBRB', 'SBRF', 'SBRJ', 'SBSG',
        'SBSL', 'SBSP', 'SBSV', 'SBTE', 'SBVT', 'SBJP',
        'SBMO', 'SBCY']
    
    df_non_reg = df[(df["icao_origin"].isin(airports_capitals) == True)]
    df_non_reg = df_non_reg.groupby(['sched_year']).agg(
        nr_airports=('icao_origin', lambda x: x.nunique()),
        route_icao=('route_icao', lambda x: x.nunique()),
        seats_total=('seats_total', 'sum'),
).reset_index()
    
    return df_non_reg

In [13]:
df_list = []

for file in files_list:
    print(file)
    df_list.append(airports_non_reg(file))

df_non_reg = pd.concat(df_list)

flights_2002.csv
flights_2003.csv
flights_2004.csv
flights_2005.csv
flights_2006.csv
flights_2007.csv
flights_2008.csv
flights_2009.csv
flights_2010.csv
flights_2011.csv
flights_2012.csv
flights_2013.csv
flights_2014.csv
flights_2015.csv
flights_2016.csv
flights_2017.csv
flights_2018.csv
flights_2019.csv
flights_2020.csv
flights_2021.csv

df_non_reg.to_csv("./assets/csv/functions/df_non_reg.csv", sep=',')

In [14]:
df_non_reg

   sched_year  nr_airports  route_icao  seats_total
0        2002           29         287    5202010.0
0        2003           29         338   16571263.0
0        2004           29         336   18043719.0
0        2005           29         264   21503806.0
0        2006           29         292   22350054.0
0        2007           28         323   21218642.0
0        2008           29         299   23254576.0
0        2009           29         330   32482206.0
0        2010           29         450   41587798.0
0        2011           29         488   48251846.0
0        2012           29         406   45207999.0
0        2013           30         534   56484471.0
0        2014           30         528   67592150.0
0        2015           30         543   68777871.0
0        2016           30         579   61971672.0
0        2017           30         570   63101139.0
0        2018           30         599   82189441.0
0        2019           30         601   85299364.0
0        2020           31         670   40286661.0
0        2021           30         596   32043841.0

# Function for general info by YEAR/MONTH/DAY

os.listdir("./assets/csv/")

In [128]:
files_list = [x for x in os.listdir("./assets/csv/") if x.startswith("flights_")]
files_list.sort()

In [129]:
def general_agg_01(file):
    df = pd.read_csv(f"./assets/csv/{file}", sep=",")
    df = (
        df.groupby(
            ["cluster_origin", "sched_year", "sched_month", "sched_day"], as_index=False
        )
        .agg(
            carrier_count=("icao_carrier", lambda x: x.nunique()),
            flights_count=("icao_carrier", "count"),
            flight_nr_count=("flight_unique_nr", lambda x: x.nunique()),
            origins_count=("icao_origin", lambda x: x.nunique()),
            dest_count=("icao_dest", lambda x: x.nunique()),
            seats_available_total=("seats_available", np.sum),
            seats_sold_total=("seats_sold", np.sum),
            seats_free_total=("seats_free", np.sum),
            seats_available_mean=("seats_available", "mean"),
            seats_sold_mean=("seats_sold", "mean"),
            seats_free_mean=("seats_free", "mean"),
            fuel_l_total=("fuel_consumption_l", "sum"),
            flight_dist_km_total=("flight_distance_km", "sum"),
            flight_hrs_total=("flight_hrs", "sum"),
            flight_speed_avg_total=("flight_speed_avg", "sum"),
            payload_kg_total=("payload_kg", "sum"),
        )
        .sort_values(by="cluster_origin", ascending=True)
        .reset_index(drop=True)
        .round(2)
    )
    return df

In [130]:
df_list = []

for file in files_list:
    print(file)
    df_list.append(general_agg_01(file))

agg_01_general_info_by_day = pd.concat(df_list)

flights_2002.csv
flights_2003.csv
flights_2004.csv
flights_2005.csv
flights_2006.csv
flights_2007.csv
flights_2008.csv
flights_2009.csv
flights_2010.csv
flights_2011.csv
flights_2012.csv
flights_2013.csv
flights_2014.csv
flights_2015.csv
flights_2016.csv
flights_2017.csv
flights_2018.csv
flights_2019.csv
flights_2020.csv
flights_2021.csv

agg_01_general_info_by_day.to_csv("./assets/csv/aggregations/agg_01_general_info_by_day.csv", sep=',')

In [131]:
agg_01_general_info_by_day

,cluster_origin,sched_year,sched_month,sched_day,carrier_count,flights_count,flight_nr_count,origins_count,dest_count,seats_available_total,seats_sold_total,seats_free_total,seats_available_mean,seats_sold_mean,seats_free_mean,fuel_l_total,flight_dist_km_total,flight_hrs_total,flight_speed_avg_total,payload_kg_total
0,1,2002,9,1,5,139,139,2,32,17092,10604.0,299.0,122.96,76.29,2.15,755819.0,142318.0,239.16,70934.95,1932816
1,1,2002,11,29,5,113,113,2,26,14540,9075.0,313.0,128.67,80.31,2.77,662236.0,119096.0,200.37,59804.47,1618730
2,1,2002,11,28,6,113,113,2,28,14402,8306.0,325.0,127.45,73.50,2.88,672756.0,119948.0,203.88,58966.62,1616051
3,1,2002,11,27,6,114,114,2,28,14517,7789.0,260.0,127.34,68.32,2.28,665875.0,120240.0,207.85,58648.06,1653140
4,1,2002,11,26,6,114,114,2,28,14512,7050.0,264.0,127.30,61.84,2.32,673731.0,120307.0,206.06,58962.17,1629267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,8,2021,3,27,4,14,14,13,7,950,466.0,16.0,67.86,33.29,1.14,24522.0,8655.0,21.75,5181.21,92065
1940,8,2021,3,28,5,31,31,30,12,2501,1339.0,27.0,80.68,43.19,0.87,60372.0,19492.0,46.84,12021.99,245721
1941,8,2021,3,29,7,37,37,31,15,2280,1202.0,31.0,61.62,32.49,0.84,50284.0,18905.0,53.50,12872.57,226906
1942,8,2021,3,31,5,34,34,33,14,2435,1480.0,30.0,71.62,43.53,0.88,50313.0,17846.0,47.64,11845.07,238079
1943,8,2021,8,31,6,54,54,43,20,3347,2206.0,43.0,61.98,40.85,0.80,73855.0,24864.0,70.28,17763.46,338949

# Function for general info by YEAR

In [132]:
files_list = [x for x in os.listdir("./assets/csv/") if x.startswith("flights_")]
files_list.sort()

In [133]:
def general_agg_02(file):
    df = pd.read_csv(f"./assets/csv/{file}", sep=",")
    df = (
        df.groupby(["cluster_origin", "sched_year"], as_index=False)
        .agg(
            carrier_count=("icao_carrier", lambda x: x.nunique()),
            flights_count=("icao_carrier", "count"),
            flight_nr_count=("flight_unique_nr", lambda x: x.nunique()),
            origins_count=("icao_origin", lambda x: x.nunique()),
            dest_count=("icao_dest", lambda x: x.nunique()),
            seats_available_total=("seats_available", np.sum),
            seats_sold_total=("seats_sold", np.sum),
            seats_free_total=("seats_free", np.sum),
            seats_available_mean=("seats_available", "mean"),
            seats_sold_mean=("seats_sold", "mean"),
            seats_free_mean=("seats_free", "mean"),
            fuel_l_total=("fuel_consumption_l", "sum"),
            flight_dist_km_total=("flight_distance_km", "sum"),
            flight_hrs_total=("flight_hrs", "sum"),
            flight_speed_avg_total=("flight_speed_avg", "sum"),
            payload_kg_total=("payload_kg", "sum"),
        )
        .sort_values(by="cluster_origin", ascending=True)
        .reset_index(drop=True)
        .round(2)
    )
    return df

In [134]:
df_list = []

for file in files_list:
    print(file)
    df_list.append(general_agg_02(file))

agg_02_general_info_by_year = pd.concat(df_list)

flights_2002.csv
flights_2003.csv
flights_2004.csv
flights_2005.csv
flights_2006.csv
flights_2007.csv
flights_2008.csv
flights_2009.csv
flights_2010.csv
flights_2011.csv
flights_2012.csv
flights_2013.csv
flights_2014.csv
flights_2015.csv
flights_2016.csv
flights_2017.csv
flights_2018.csv
flights_2019.csv
flights_2020.csv
flights_2021.csv

agg_02_general_info_by_year.to_csv("./assets/csv/aggregations/agg_02_general_info_by_year.csv", sep=',')

In [135]:
agg_02_general_info_by_year

,cluster_origin,sched_year,carrier_count,flights_count,flight_nr_count,origins_count,dest_count,seats_available_total,seats_sold_total,seats_free_total,seats_available_mean,seats_sold_mean,seats_free_mean,fuel_l_total,flight_dist_km_total,flight_hrs_total,flight_speed_avg_total,payload_kg_total
0,1,2002,6,14691,260,2,36,1852291,1052399.0,41101.0,126.08,71.64,2.80,84300290.0,15252308.0,26002.85,7637649.44,209715186
1,2,2002,6,26617,449,5,44,3399306,1928645.0,73156.0,127.71,72.46,2.75,124319861.0,21409410.0,39896.53,12013507.91,380479881
2,3,2002,6,13673,256,6,39,1570270,788471.0,34695.0,114.84,57.67,2.54,58269080.0,10385866.0,19126.25,6576161.11,175100484
3,4,2002,6,22780,381,14,36,2659211,1289730.0,46419.0,116.73,56.62,2.04,72446881.0,12587695.0,25990.55,9940878.06,295070052
4,5,2002,5,1298,27,3,13,143553,74835.0,3099.0,110.60,57.65,2.39,4649988.0,752579.0,1524.99,621373.33,16152253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,4,2021,7,47577,914,14,50,7317121,5798786.0,111227.0,153.80,121.88,2.34,216371906.0,46788391.0,83658.87,24348224.30,777496978
4,5,2021,5,6867,166,3,20,1050285,821684.0,15123.0,152.95,119.66,2.20,28829446.0,5533534.0,10678.91,3305859.84,109966684
5,6,2021,5,15117,302,13,26,1903298,1443232.0,26633.0,125.90,95.47,1.76,53656808.0,12051330.0,24059.66,6888511.89,199254467
6,7,2021,4,8360,149,14,17,920487,671211.0,16477.0,110.11,80.29,1.97,20790184.0,4951874.0,11066.32,3545389.09,94528261
7,8,2021,7,9102,287,81,58,579713,399095.0,7344.0,63.69,43.85,0.81,13370093.0,4467553.0,12308.56,3056790.02,58105900

In [142]:
agg_02_general_info_by_year.groupby("cluster_origin").sum()

,sched_year,carrier_count,flights_count,flight_nr_count,origins_count,dest_count,seats_available_total,seats_sold_total,seats_free_total,seats_available_mean,seats_sold_mean,seats_free_mean,fuel_l_total,flight_dist_km_total,flight_hrs_total,flight_speed_avg_total,payload_kg_total
cluster_origin,,,,,,,,,,,,,,,,,
1,40230,103,1550685,12775,40,992,248560949,186657706.0,3750188.0,3147.36,2271.98,49.15,8.237160e+09,1.740456e+09,2981744.33,8.530313e+08,26544168760
2,40230,119,2338440,19473,100,998,365527779,266024129.0,6037443.0,3077.81,2193.61,50.65,1.106005e+10,2.226126e+09,4092882.54,1.183827e+09,38420615106
3,40230,127,2117428,19776,119,1351,288448451,209112462.0,5704558.0,2768.71,1918.11,50.38,7.829427e+09,1.653336e+09,3256541.95,1.007552e+09,31511885861
4,40230,123,1653215,15393,280,944,242234976,174848845.0,3474100.0,2918.34,2027.83,41.29,6.509423e+09,1.321957e+09,2560410.21,8.050028e+08,25640807234
5,40230,86,148015,2034,60,326,21192119,15630232.0,336406.0,2815.16,1988.92,44.09,5.262680e+08,1.024830e+08,204993.28,7.051105e+07,2290129396
6,40230,113,495692,5571,271,689,59730108,42693171.0,792832.0,2528.51,1730.66,31.95,1.324318e+09,2.908728e+08,642795.91,2.171095e+08,6316006090
7,40230,104,234607,2676,235,382,24288732,17004358.0,435668.0,2191.66,1422.18,36.77,4.813377e+08,1.218794e+08,294850.30,9.845928e+07,2567085549
8,40230,104,213601,3596,872,764,14858827,9953677.0,214400.0,1667.29,981.34,19.22,2.625688e+08,8.908097e+07,254347.82,7.093678e+07,1543229177

# Dataset for Tableau

In [171]:
files_list = [x for x in os.listdir("./assets/csv/") if x.startswith("flights_")]
files_list.sort()

In [196]:
def tableau_dataset(file):
    df = pd.read_csv(f"./assets/csv/{file}", sep=",")
    df = df [[
        "icao_carrier",
        "flight_unique_nr",
        "route_icao",
        "route_iata",
        "cluster_origin",
        "lat_dd_origin",
        "long_dd_origin",
        "cluster_dest",
        "lat_dd_dest",
        "long_dd_dest",
        "icao_origin",
        "iata_origin",
        "dep_city",
        "dep_state",
        "dep_region",
        "sched_date",
        "dep_week_day",
        "reference_month",
        "icao_dest",
        "iata_dest",
        "arr_city",
        "arr_state",
        "arr_region",
        "icao_aircraft_type",
        "aircraft_model",
        "fuel_consumption_l",
        "payload_kg",
        "flight_distance_km",
        "flight_hrs",
        "flight_speed_avg",
        "seats_available",
        "seats_sold",
        "seats_free",
        "pax_baggage_free_kg",
        "pax_baggage_paid_kg",
        "cargo_paid_kg",
        "cargo_mail_kg",
        "cargo_free_kg",
        "aircraft_freight_kg",
        "pax_free_km",
        "cargo_paid_km",
        "cargo_free_km",
        "cargo_mail_km",
        "baggage_free_km",
        "baggage_paid_km",
        "available_seat_km",
        "revenue_pax_km",
        "available_tonne_km",
        "revenue_tonne_km",
    ]]
    # Creating dictionaries with numeric values for categories
    arr_region = {"NORTE": 1, "NORDESTE": 2, "CENTRO-OESTE": 3, "SUDESTE": 4, "SUL": 5}
    df["arr_region"] = df["arr_region"].apply(lambda x: arr_region[x])
    # 
    df["lat_dd_origin"] = round(df["lat_dd_origin"], 4)
    df["long_dd_origin"] = round(df["long_dd_origin"], 4)
    df["lat_dd_dest"] = round(df["lat_dd_dest"], 4)
    df["long_dd_dest"] = round(df["long_dd_dest"], 4)
    return df

In [197]:
df_list = []

for file in files_list:
    print(file)
    df_list.append(tableau_dataset(file))

df_tableau = pd.concat(df_list)

flights_2002.csv
flights_2003.csv
flights_2004.csv
flights_2005.csv
flights_2006.csv
flights_2007.csv
flights_2008.csv
flights_2009.csv
flights_2010.csv
flights_2011.csv
flights_2012.csv
flights_2013.csv
flights_2014.csv
flights_2015.csv
flights_2016.csv
flights_2017.csv
flights_2018.csv
flights_2019.csv
flights_2020.csv
flights_2021.csv

In [198]:
df_tableau.to_csv("./assets/csv/tableau/df_tableau.csv", sep=',')

# Dataset for Tableau – clusters

In [18]:
files_list = [x for x in os.listdir("./assets/csv/cluster/") if x.startswith("cluster_")]
files_list.sort()

In [20]:
def tableau_clusters(file):
    file_year = file[8:12]
    df = pd.read_csv(f"./assets/csv/cluster/{file}", sep=",")
    df['year'] = file_year
    return df

In [21]:
df_list = []

for file in files_list:
    print(file)
    df_list.append(tableau_clusters(file))

df_tableau_clusters = pd.concat(df_list)

cluster_2002_map.csv
cluster_2003_map.csv
cluster_2004_map.csv
cluster_2005_map.csv
cluster_2006_map.csv
cluster_2007_map.csv
cluster_2008_map.csv
cluster_2009_map.csv
cluster_2010_map.csv
cluster_2011_map.csv
cluster_2012_map.csv
cluster_2013_map.csv
cluster_2014_map.csv
cluster_2015_map.csv
cluster_2016_map.csv
cluster_2017_map.csv
cluster_2018_map.csv
cluster_2019_map.csv
cluster_2020_map.csv
cluster_2021_map.csv

In [23]:
df_tableau_clusters = df_tableau_clusters.drop(columns='Unnamed: 0')

In [25]:
df_tableau_clusters

,icao_code,count,lat_dd,long_dd,city_primary,state,cluster,year
0,SBBR,7972,-15.871111,-47.918611,Brasília,DF,1,2002
1,SBSP,7647,-23.626111,-46.656389,São paulo,SP,2,2002
2,SBGR,6722,-23.435556,-46.473056,Guarulhos,SP,1,2002
3,SBSV,5727,-12.908611,-38.322500,Salvador,BA,2,2002
4,SBGL,5189,-22.810000,-43.250556,Rio de janeiro,RJ,2,2002
...,...,...,...,...,...,...,...,...
133,SSSC,6,-29.684167,-52.412222,Santa cruz do sul,RS,8,2021
134,SSLT,5,-29.812500,-55.893333,Alegrete,RS,8,2021
135,SBPG,2,-25.184444,-50.143889,Ponta grossa,PR,8,2021
136,SBUY,1,-4.883056,-65.355833,Coari,AM,8,2021
137,SDNM,1,-13.821111,-56.038611,Nova mutum,MT,8,2021

In [24]:
df_tableau_clusters.to_csv("./assets/csv/tableau/df_tableau_clusters.csv", sep=',')

# Dataset all years

In [429]:
files_list = [x for x in os.listdir("./assets/csv/") if x.startswith("flights_")]
files_list.sort()

In [435]:
def all_years(file):
    file_year = file[8:12]
    df = pd.read_csv(f"./assets/csv/{file}", sep=",")
    # Creating dictionaries with numeric values for categories
    arr_region = {"NORTE": 1, "NORDESTE": 2, "CENTRO-OESTE": 3, "SUDESTE": 4, "SUL": 5}
    df["arr_region"] = df["arr_region"].apply(lambda x: arr_region[x])
    # 
    df["lat_dd_origin"] = round(df["lat_dd_origin"], 4)
    df["long_dd_origin"] = round(df["long_dd_origin"], 4)
    df["lat_dd_dest"] = round(df["lat_dd_dest"], 4)
    df["long_dd_dest"] = round(df["long_dd_dest"], 4)
    return df

In [436]:
df_list = []

for file in files_list:
    print(file)
    df_list.append(all_years(file))

df_all_years = pd.concat(df_list)

flights_2002.csv
flights_2003.csv
flights_2004.csv
flights_2005.csv
flights_2006.csv
flights_2007.csv
flights_2008.csv
flights_2009.csv
flights_2010.csv
flights_2011.csv
flights_2012.csv
flights_2013.csv
flights_2014.csv
flights_2015.csv
flights_2016.csv
flights_2017.csv
flights_2018.csv
flights_2019.csv
flights_2020.csv
flights_2021.csv

df_all_years.to_csv("./assets/csv/df_all_years/df_all_years.csv", sep=',')

# Dataset Regional Flights

In [12]:
files_list = [x for x in os.listdir("./assets/csv/") if x.startswith("flights_")]
files_list.sort()

In [13]:
def regional_flights(file):
    df = pd.read_csv(f"./assets/csv/{file}", sep=",")
    icao_code_regional_airports = ['SBAA', 'SBAC', 'SBAE', 'SBAQ', 'SBAT', 'SBAU', 'SBAX', 'SBBG',
       'SBBH', 'SBBT', 'SBBW', 'SBCA', 'SBCB', 'SBCD', 'SBCH', 'SBCI',
       'SBCJ', 'SBCM', 'SBCN', 'SBCP', 'SBCR', 'SBCX', 'SBCZ', 'SBDB',
       'SBDN', 'SBDO', 'SBFE', 'SBFI', 'SBFN', 'SBGV', 'SBHT', 'SBIH',
       'SBIL', 'SBIP', 'SBIZ', 'SBJA', 'SBJC', 'SBJD', 'SBJE', 'SBJF',
       'SBJI', 'SBJU', 'SBJV', 'SBKG', 'SBLE', 'SBLJ', 'SBLO', 'SBMA',
       'SBMD', 'SBME', 'SBMG', 'SBMH', 'SBMK', 'SBML', 'SBMS', 'SBMY',
       'SBNF', 'SBNM', 'SBNT', 'SBPB', 'SBPC', 'SBPF', 'SBPG', 'SBPK',
       'SBPL', 'SBPO', 'SBPS', 'SBQV', 'SBRD', 'SBRP', 'SBSI', 'SBSJ',
       'SBSM', 'SBSN', 'SBSO', 'SBSR', 'SBTB', 'SBTC', 'SBTD', 'SBTF',
       'SBTG', 'SBTT', 'SBTU', 'SBUA', 'SBUF', 'SBUG', 'SBUL', 'SBUR',
       'SBUY', 'SBVC', 'SBVG', 'SBVH', 'SBZM', 'SDAG', 'SDAM', 'SDCG',
       'SDIM', 'SDNM', 'SDOW', 'SDSC', 'SDTK', 'SDUB', 'SDWQ', 'SDZG',
       'SILC', 'SIMK', 'SIZX', 'SJHG', 'SJRG', 'SJTC', 'SNAR', 'SNAT',
       'SNBA', 'SNBR', 'SNCT', 'SNDC', 'SNDM', 'SNDT', 'SNEE', 'SNGX',
       'SNHS', 'SNIG', 'SNJD', 'SNJM', 'SNJR', 'SNMA', 'SNMZ', 'SNNU',
       'SNOB', 'SNOS', 'SNOX', 'SNPD', 'SNPJ', 'SNRJ', 'SNRU', 'SNTF',
       'SNTI', 'SNTO', 'SNUH', 'SNUI', 'SNVB', 'SNVC', 'SNVS', 'SNWS',
       'SNYA', 'SNZA', 'SNZR', 'SSCK', 'SSCN', 'SSCP', 'SSCT', 'SSDO',
       'SSER', 'SSFB', 'SSJA', 'SSKM', 'SSKW', 'SSLT', 'SSOE', 'SSOG',
       'SSOU', 'SSPG', 'SSPI', 'SSSB', 'SSSC', 'SSTE', 'SSUM', 'SSUV',
       'SSVL', 'SSZR', 'SWBC', 'SWBE', 'SWBG', 'SWCA', 'SWEI', 'SWEK',
       'SWFX', 'SWGI', 'SWGN', 'SWHP', 'SWHT', 'SWIQ', 'SWJN', 'SWKO',
       'SWLB', 'SWLC', 'SWMW', 'SWOB', 'SWPI', 'SWPY', 'SWRD', 'SWSI',
       'SWTP', 'SWTS', 'SWVC']
    df = df[df.icao_origin.isin(icao_code_regional_airports) == True]
    df["lat_dd_origin"] = round(df["lat_dd_origin"], 4)
    df["long_dd_origin"] = round(df["long_dd_origin"], 4)
    df["lat_dd_dest"] = round(df["lat_dd_dest"], 4)
    df["long_dd_dest"] = round(df["long_dd_dest"], 4)
    return df

In [14]:
df_list = []

for file in files_list:
    print(file)
    df_list.append(regional_flights(file))

df_regional_flights = pd.concat(df_list)

flights_2002.csv
flights_2003.csv
flights_2004.csv
flights_2005.csv
flights_2006.csv
flights_2007.csv
flights_2008.csv
flights_2009.csv
flights_2010.csv
flights_2011.csv
flights_2012.csv
flights_2013.csv
flights_2014.csv
flights_2015.csv
flights_2016.csv
flights_2017.csv
flights_2018.csv
flights_2019.csv
flights_2020.csv
flights_2021.csv

In [15]:
df_regional_flights = df_regional_flights.drop(columns='Unnamed: 0').reset_index(drop=True)

In [16]:
df_regional_flights

,icao_carrier,iata_carrier,flight,flight_step,icao_origin,iata_origin,dep_airport_name,dep_city,dep_state,dep_region,sched_date,sched_year,sched_month,sched_day,dep_time,dep_date,dep_year,dep_month,dep_day,dep_week_day,reference_month,icao_dest,iata_dest,arr_airport_name,arr_city,arr_state,arr_region,arr_time,arr_date,arr_year,arr_month,arr_day,icao_aircraft_type,aircraft_model,fuel_consumption_l,payload_kg,flight_distance_km,flight_hrs,flight_speed_avg,seats_available,seats_sold,seats_free,pax_baggage_free_kg,pax_baggage_paid_kg,cargo_paid_kg,cargo_mail_kg,cargo_free_kg,aircraft_freight_kg,pax_free_km,cargo_paid_km,cargo_free_km,cargo_mail_km,baggage_free_km,baggage_paid_km,available_seat_km,revenue_pax_km,available_tonne_km,revenue_tonne_km,flight_unique_nr,route_icao,route_iata,lat_dd_origin,long_dd_origin,cluster_origin,lat_dd_dest,long_dd_dest,cluster_dest
0,RSL,SL,5260,2,SBLO,LDB,Governador José Richa,Londrina,PR,5,2002-09-01,2002,9,1,11:46:00,2002-09-01,2002,9,1,7,SETEMBRO,SBCT,CWB,Afonso Pena,São José Dos Pinhais,PR,SUL,12:27:00,2002-09-01,2002,9,1,E145,EMBRAER RJ145 AMAZON,784.0,4908,315.0,0.68,463.42,50,21.0,0.0,199,0,0.0,0.0,0.0,1774.0,0.0,0,0,0,62685,0,15750,6615,1546,1546,5260_2,SBLO-SBCT,LDB-CWB,-23.3303,-51.1367,6,-25.5317,-49.1761,4
1,RSL,SL,5249,1,SBLO,LDB,Governador José Richa,Londrina,PR,5,2002-09-01,2002,9,1,19:57:00,2002-09-01,2002,9,1,7,SETEMBRO,SBCT,CWB,Afonso Pena,São José Dos Pinhais,PR,SUL,20:37:00,2002-09-01,2002,9,1,E145,EMBRAER RJ145 AMAZON,756.0,4875,315.0,0.67,470.34,50,43.0,0.0,267,0,0.0,0.0,0.0,3492.0,0.0,0,0,0,84105,0,15750,13545,1535,1535,5249_1,SBLO-SBCT,LDB-CWB,-23.3303,-51.1367,6,-25.5317,-49.1761,4
2,RSL,SL,5246,3,SBLO,LDB,Governador José Richa,Londrina,PR,5,2002-09-01,2002,9,1,17:40:00,2002-09-01,2002,9,1,7,SETEMBRO,SBCT,CWB,Afonso Pena,São José Dos Pinhais,PR,SUL,18:19:00,2002-09-01,2002,9,1,E145,EMBRAER RJ145 AMAZON,660.0,4875,315.0,0.65,484.81,50,43.0,0.0,737,0,0.0,0.0,0.0,3962.0,0.0,0,0,0,232155,0,15750,13545,1535,1535,5246_3,SBLO-SBCT,LDB-CWB,-23.3303,-51.1367,6,-25.5317,-49.1761,4
3,TAM,JJ,3810,1,SBLO,LDB,Governador José Richa,Londrina,PR,5,2002-09-01,2002,9,1,18:47:00,2002-09-01,2002,9,1,7,SETEMBRO,SBCT,CWB,Afonso Pena,São José Dos Pinhais,PR,SUL,19:32:00,2002-09-01,2002,9,1,F100,FOKKER 100,1790.0,10600,315.0,0.75,420.17,108,53.0,0.0,779,425,0.0,0.0,0.0,5179.0,0.0,0,0,0,245385,133875,34020,16695,3339,3339,3810_1,SBLO-SBCT,LDB-CWB,-23.3303,-51.1367,6,-25.5317,-49.1761,4
4,TAM,JJ,3810,1,SBLO,LDB,Governador José Richa,Londrina,PR,5,2002-09-03,2002,9,3,18:48:00,2002-09-03,2002,9,3,2,SETEMBRO,SBCT,CWB,Afonso Pena,São José Dos Pinhais,PR,SUL,19:24:00,2002-09-03,2002,9,3,F100,FOKKER 100,1449.0,10600,315.0,0.60,525.22,108,64.0,0.0,599,147,8.0,0.0,0.0,5554.0,0.0,2520,0,0,188685,46305,34020,20160,3339,3339,3810_1,SBLO-SBCT,LDB-CWB,-23.3303,-51.1367,6,-25.5317,-49.1761,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098543,GLO,G3,1215,1,SBNF,NVT,Ministro Victor Konder,Navegantes,SC,5,2021-08-05,2021,8,5,06:20:00,2021-08-05,2021,8,5,4,AGOSTO,SBGR,GRU,Guarulhos - Governador André Franco Montoro,Guarulhos,SP,SUDESTE,07:44:00,2021-08-05,2021,8,5,B738,BOEING 737-800,3181.0,19800,441.0,1.40,315.09,186,126.0,1.0,387,0,117.0,0.0,0.0,10029.0,441.0,51597,0,0,170667,0,82026,55566,8731,8731,1215_1,SBNF-SBGR,NVT-GRU,-26.8786,-48.6508,5,-23.4356,-46.4731,1
1098544,GLO,G3,1401,1,SBCN,CLV,Nelson Rodrigues Guimarães,Caldas Novas,GO,3,2021-08-17,2021,8,17,15:03:00,2021-08-17,2021,8,17,2,AGOSTO,SBGR,GRU,Guarulhos - Governador André Franco Montoro,Guarulhos,SP,SUDESTE,16:30:00,2021-08-17,2021,8,17,B738,BOEING 737-800,3512.0,19800,673.0,1.45,464.01,186,104.0,3.0,375,0,0.0,0.0,0.0,8400.0,2019.0,0,0,0,252375,0,125178,69992,13325,13325,1401_1,SBCN-SBGR,CLV-GRU,-17.7247,-48.6100,8,-23.4356,-46.4731,1
1098545,IPM,8I,5208,3,SBPS,BPS,Porto Seguro,Porto Seguro,BA,2,2021-08-15,2021,8,15,13:26:00,2021-08-15,2021,8,15,7,AGOSTO,SBGR,GRU,Guarulhos - Governador André Franco Montoro,Guarulhos,SP,SUDESTE,15:21:00,2021-08-15,2021,8,15,A320,AIRBUS A320-100/200,6100.0,16200,1096.0,1.92,571.98,162,120.0,0.0,2760,0,0.0,0.0,0.0,11760.0,0.0,0,0,0,3024960,0,177552,131520,17755,17755,5208_3,SBPS-SBGR,BPS-GRU,-16.4381,-39.0778,5,-23.4356,-46.4731,1
1098546,IPM,8I,5662,2,SBPS,BPS,Porto Seguro,Porto Seguro,BA,2,2021-08-27,2021,8,27,03:08:00,2021-08-27,2021,8,27,5,AGOSTO,SBGR,GRU,Guarulhos - Governador André Franco Montoro,Guarulhos,SP,SUDESTE,05:00:00,2021-08-27,2021,8,27,A320,AIRBUS A320-100/200,4487.0,16200,1096.0,1.87,587.30,162,132.0,0.0,3036,0,0.0,0.0,0.0,12936.0,0.0,0,0,0,3327460,0,177552,144672,17755,17755,5662_2,SBPS-SBGR,BPS-GRU,-16.4381,-39.0778,5,-23.4356,-46.4731,1
1098547,IPM,8I,5655,1,SBPS,BPS,Porto Seguro,Porto Seguro,BA,2,2021-08-19,2021,8,19,01:15:00,2021-08-19,2021,8,19,4,AGOSTO,SBSV,SSA,Deputado Luís Eduardo Magalhães,Salvador,BA,NORDESTE,02:11:00,2021-08-19,2021,8,19,A320,AIRBUS A320-100/200,1890.0,16200,401.0,0.93,429.40,162,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,64962,0,6496,6496,5655_1,SBPS-SBSV,BPS-SSA,-16.4381,-39.0778,5,-12.9086,-38.3225,2

df_regional_flights.to_csv("./assets/csv/df_regional_flights.csv", sep=',')